
@model List<CourseViewModel>


<div class="row">
    @foreach (var course in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-text">
                        <h4>Course <span class="font-weight-normal"> - @course.Name</span> </h4>
                        <h4>Dificulty <span class="font-weight-normal"> - @course.Dificulty</span> </h4>
                        <h4>StudentsCount <span class="font-weight-normal"> - @course.StudentsCount</span> </h4>
                    </h5>

                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">Details</a>
                    
                </div>
                <div style="text-align:center">
                     <a asp-controller="Students" asp-action="AsignStudentToCourse" asp-route-studentId="@ViewBag.studentId" asp-route-courseId="@course.Id" onclick="return confirm('Confirm Asign')">Asign to this ourse</a>
                </div>
            </div>
        </div>
    }
</div>