@model AllPetsQueryModel


<form method="get">
    <div class="row">

        <div class="form-group col-3">
            <label asp-for="Breed"></label>
            <select asp-for="Breed" class="form-control">
                <option value=""> All </option>
                @foreach (var breed in Model.Breeds)
                {
                    <option value="@breed.Breed">@breed.Breed</option>
                }
            </select>
        </div>
        <div class=" form-group col-3">
            <label asp-for="Gender">Gender</label>
            <select asp-for="Gender" class="form-control">
                <option value=""> All </option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="form-group col-3">
            <label asp-for="Sorting">Sort by</label>
            <select asp-for="Sorting" class="form-control">
                <option value="0">Recent</option>
                <option value="1">Age</option> 
            </select>
        </div>
        <div class="form-group col-3">
            <label asp-for="SearchTerm">Search</label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Search" />
        </div>
    </div>
</form>


<div class="row">
    @foreach (var pet in Model.AllPets)
    {
        <div class="col-md-2">
            <div class="card mb-2">
                <img class="card-img-top" src="@pet.Picture" alt="@pet.Breed @pet.Gender" />
                <div class="card-body text-center">
                    <h5 class="card-text">
                        @pet.Breed @pet.Gender @pet.Age
                    </h5>
                    <a asp-controller="Cats"
                       asp-action="Details"
                       asp-route-id="@pet.Id" class="btn">
                        See More
                    </a>
                </div>
            </div>
        </div>
    }
</div>
