@model UserViewModel

<div style="display:inline-block" class="row">
    <div class="col-md-auto">
        <h4>First Name <span class="font-weight-normal"> - @Model.FirstName</span> </h4>
        <h4>Last Name <span class="font-weight-normal"> - @Model.LastName</span> </h4>
        <h4>Age <span class="font-weight-normal"> - @Model.Age</span> </h4>
        <h4>Email <span class="font-weight-normal"> - @Model.Email</span> </h4>
        <h4>Phone <span class="font-weight-normal"> - @Model.Phone</span> </h4>
    </div>
    <a asp-controller="Students" asp-action="CreateStudent" asp-route-id="@Model.Id">Create Student</a>
    <a asp-controller="Teachers" asp-action="CreateTeacher" asp-route-id="@Model.Id">Create Teacher</a>
    <a asp-controller="Students" asp-action="Students" asp-route-id="@Model.Id">Asign Student To Course</a>
</div>

<style>
    a {
        margin: 5px;
    }
</style>
